window {
  font-family: Torus;
    margin: 0px;
    width: 500px;
  background: rgba(49, 50, 68, 0.6);
/* background: linear-gradient(135deg, rgba(204,204,204,0.4) 0%, rgba(153,153,153,0.5) 46%, rgba(181,181,181,0.5) 100%); */
}


#input {
    padding: 4px;
    padding-left: 20px;
    border: none;
    color: #282828;
    font-weight: bold;
    background-color: transparent;
    /* background: linear-gradient(90deg, rgba(203,166,247,1) 0%, rgba(245,194,231,1) 100%); */
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    margin-left: 8px;
    border: 10px solid transparent;
    color: rgba(200, 200, 200, 0.8);
    background-color: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    /* background-color: transparent; */
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text:selected {
    color: #fff;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 16px;
background: rgb(40,40,40);
background: linear-gradient(135deg, rgba(40,40,40,0.8) 10%, rgba(50,36,45,0.5) 36%, rgba(181,181,181,0.1) 100%);
}

