$primary: #6e98cd; 

$onPrimary: #09141e; 

$primaryContainer: #162f44; 

$onPrimaryContainer: #497ebf; 

$secondary: #7ac1dc; 

$onSecondary: #0d2737; 

$secondaryContainer: #0d2737; 

$onSecondaryContainer: #7ac1dc; 

$tertiary: #736ecd; 

$onTertiary: #090a1e; 

$tertiaryContainer: #4f49bf; 

$onTertiaryContainer: #4f49bf; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #040F16; 

$background: #040F16; 

$onBackground: #89deed; 

$surface: #040F16; 

$onSurface: #89deed; 

$surfaceVariant: #0A4971; 

$onSurfaceVariant: #89deed; 

$outline: #89deed; 

$shadow: #000000; 

$inverseSurface: #fbf0e9; 

$inverseOnSurface: #762112; 

$inversePrimary: #916732; 

$darkmode: true;
