$primary: #a4cdbf; 

$onPrimary: #2b314b; 

$primaryContainer: #3e476b; 

$onPrimaryContainer: #83bba7; 

$secondary: #acd7d0; 

$onSecondary: #0a3535; 

$secondaryContainer: #0a3535; 

$onSecondaryContainer: #acd7d0; 

$tertiary: #a4c7cd; 

$onTertiary: #352b4b; 

$tertiaryContainer: #83b3bb; 

$onTertiaryContainer: #83b3bb; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #122620; 

$background: #122620; 

$onBackground: #caece2; 

$surface: #122620; 

$onSurface: #caece2; 

$surfaceVariant: #027488; 

$onSurfaceVariant: #caece2; 

$outline: #caece2; 

$shadow: #000000; 

$inverseSurface: #edd9df; 

$inverseOnSurface: #35131d; 

$inversePrimary: #5b3240; 

$darkmode: true;
