$darkmode: true;
$primary: #d1ca53;
$onPrimary: #353200;
$primaryContainer: #4c4800;
$onPrimaryContainer: #eee76c;
$secondary: #ccc8a4;
$onSecondary: #333118;
$secondaryContainer: #4a482c;
$onSecondaryContainer: #e9e4be;
$tertiary: #a5d0ba;
$onTertiary: #0e3728;
$tertiaryContainer: #274e3e;
$onTertiaryContainer: #c1ecd6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1c16;
$background: #1c1c16;
$onBackground: #e6e2da;
$surface: #1c1c16;
$onSurface: #e6e2da;
$surfaceVariant: #49473a;
$onSurfaceVariant: #cac7b5;
$outline: #949181;
$shadow: #000000;
$inverseSurface: #e6e2da;
$inverseOnSurface: #31302b;
$inversePrimary: #656100;
