$darkmode: true;
$primary: #ffb4a7;
$onPrimary: #680000;
$primaryContainer: #930000;
$onPrimaryContainer: #ffdad3;
$secondary: #e7bcb6;
$onSecondary: #442925;
$secondaryContainer: #5d3f3a;
$onSecondaryContainer: #ffdad4;
$tertiary: #dec38c;
$onTertiary: #3e2e04;
$tertiaryContainer: #564419;
$onTertiaryContainer: #fbdfa5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ede0de;
$surface: #211a19;
$onSurface: #ede0de;
$surfaceVariant: #534341;
$onSurfaceVariant: #d8c2bf;
$outline: #a08c89;
$shadow: #000000;
$inverseSurface: #ede0de;
$inverseOnSurface: #362f2e;
$inversePrimary: #be0d09;
