$darkmode: true;
$primary: #ffb3ac;
$onPrimary: #5f1415;
$primaryContainer: #7d2a28;
$onPrimaryContainer: #ffdad5;
$secondary: #e7bdba;
$onSecondary: #442927;
$secondaryContainer: #5d3f3d;
$onSecondaryContainer: #ffdad7;
$tertiary: #e2c28c;
$onTertiary: #402d05;
$tertiaryContainer: #584318;
$onTertiaryContainer: #ffdea6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a19;
$background: #201a19;
$onBackground: #ecdfde;
$surface: #201a19;
$onSurface: #ecdfde;
$surfaceVariant: #524342;
$onSurfaceVariant: #d7c1bf;
$outline: #9f8c8a;
$shadow: #000000;
$inverseSurface: #ecdfde;
$inverseOnSurface: #362f2e;
$inversePrimary: #9d413e;
