$darkmode: true;
$primary: #9bd76e;
$onPrimary: #153800;
$primaryContainer: #225100;
$onPrimaryContainer: #b6f487;
$secondary: #bdcbae;
$onSecondary: #293420;
$secondaryContainer: #3f4a35;
$onSecondaryContainer: #dae7ca;
$tertiary: #a0cfce;
$onTertiary: #003737;
$tertiaryContainer: #1e4e4d;
$onTertiaryContainer: #bbecea;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1a1c17;
$background: #1a1c17;
$onBackground: #e3e3dc;
$surface: #1a1c17;
$onSurface: #e3e3dc;
$surfaceVariant: #44483e;
$onSurfaceVariant: #c4c8bb;
$outline: #8e9386;
$shadow: #000000;
$inverseSurface: #e3e3dc;
$inverseOnSurface: #2f312c;
$inversePrimary: #366b0a;
