
* {
  font-family: "Lexend";
  /* min-height: 26px; */
}

window.bar {
    background-color: rgba(28, 28, 28, 0.8);
    color: @theme_fg_color;
    border-radius: 18px;
    /* padding: 12px; */
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
  font-size: 18px;
    /* font-weight: bold; */
}

.workspaces button.focused {
    border-bottom: 2px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 18px;
}
