@import url('/home/nonan23x/.cache/wal/colors-waybar.css');


* {
  font-family: "Gabarito";
  /* min-height: 26px; */
}

window.bar {
    background-color: @color0;
    opacity: 0.8;
    color: @theme_fg_color;
    border-radius: 24px;
    /* padding: 12px; */
}

button {
    min-width: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    border-radius: 24px;
    margin: 4px 2px;
}

button:active {
    background-color: @color9;
}

button:hover {
    border: 1px solid @color4;
}

label {
  font-size: 18px;
  color: @color14;
}

.workspaces button {
  border-radius: 24px;
  /* margin: 4px 0px; */
}
.workspaces button.focused {
    /* border: 2px solid @color13; */
    background-color: @color2;
}

.client-title {
    color: @color14;
}

.volume-circular {
  min-height: 34px;
  min-width: 34px;
  font-size: 4px;
  margin: 2px;
  color: @color9;  
}

levelbar block,
highlight {
    min-height: 18px;
}
