* {
    border-radius: 4px;
    opacity: 1.0;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 18px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
	background: transparent;
  padding: 5px 5px 5px 5px;
  /* border-radius: 8px; */
  /* background: rgba(30, 30, 46, 0.0); */
  /* border-bottom: 1px solid #282828; */
  color: #f4d9e1
}

#workspaces {
   /* background: rgb(209,132,69); */
/* background: linear-gradient(39deg, rgba(209,132,69,1) 0%, rgba(253,29,29,1) 20%, rgba(83,198,177,1) 49%, rgba(45,107,162,1) 68%, rgba(252,176,69,1) 100%); */
 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
	border-radius: 16px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 16px;
}

#custom-date, #clock, #battery, #pulseaudio, #custom-launcher {
	background: transparent;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
  border-radius: 8px;
  border: solid 0px #f4d9e1;
}

#custom-date {
	color: #D3869B;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); padding: 5px 10px;
}

#tray {
 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 5px;
    /*border-right: solid 1px #282738;*/
    /* animation: gradient 5s ease infinite; */
    /* background-size: 300% 300%; */
}
  
#clock {
    /* background: rgb(28,29,38); */
 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    /* animation: gradient 5s ease infinite; */
    /* background-size: 300% 300%; */
    border-radius: 0px 0px 12px 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#custom-light_dark {
    /* background-color: #63702d; */
    /* background: #687520; */
    /* background: linear-gradient(45deg, rgba(171, 93, 179,1) 0%, rgba(235, 47, 47,1) 43%, rgba(134,177,235,1) 80%, rgba(137,180,250,1) 40%); */
 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
    /*color: #FABD2D;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

@keyframes blink {
  to {
    background-color: #69915e;
  }
}

#battery {
    color: #9ece6a;
    font-weight: bold;
}

#battery.charging {
    color: #9ece6a;
    /* background-color:  #f38; */
    animation-name: blink;
    animation-duration: 3.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* margin: 8px 8px 8px 8px; */
    /* border-radius: 8px; */
    /* padding: 0px 5px; */
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    background-color: #24283b;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#pulseaudio {
    color: #f4d9e1;
   background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
    /* border-radius: 16px; */
    /* background: linear-gradient(45deg, rgba(27, 40, 59,1) 0%, rgba(92, 165, 198,1) 43%, rgba(11, 120, 179,1) 80%, rgba(44, 94, 137,1) 100%); */
    margin: 5px;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;

}

#pulseaudio.muted {
    background-color: darkred;
    color: #928374;
    border-radius: 16px;
    margin-left: 0px;
}


#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: #282828;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window{
 background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 
    padding-right: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    color: #f4d9e1;
    /* animation: gradient 5s ease infinite; */
    /* background-size: 300% 300%; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#custom-lock_screen {
   background: rgb(35,37,47);
background: linear-gradient(135deg, rgba(35,37,47,1) 3%, rgba(24,35,110,1) 33%, rgba(35,100,187,1) 56%, rgba(41,64,168,1) 70%, rgba(65,71,96,1) 96%); 

    /* background-color: #63702d; */
    /* background: #687520; */
    /* background: linear-gradient(45deg, rgba(171, 93, 179,1) 0%, rgba(235, 47, 47,1) 43%, rgba(134,177,235,1) 80%, rgba(137,180,250,1) 40%); */
    /*color: #FABD2D;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}


#custom-hyprpicker {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
